.btn-render {
    background-color: green;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: medium;
}

.div-tilte {
    text-align: center;
    line-height: 35px;
}