.footer {
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 280px;
    padding-right: 280px;
    background-color: rgb(41, 41, 41);
    color: white;
    height: 350px;

    .footer_top {
        display: flex;
        justify-content: center;
        gap: 120px;

        .footer_info {
            width: 300px;
        }
    }
}